
.project {
    box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    height: 14rem;
    width: 16rem;
    max-width: 45%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 2%;
    z-index: 100;

    .top{
        height: 40%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items:center ;

    }

    .bottom{
        display: flex;
        justify-content: center;
        height: 60%;
        text-align: center;
        padding: 5%;

    }
    
}