.contacts{
    background-color: $white;
    
}

.parallax {
    height: 100vh;
    background: linear-gradient(90deg, #d9e7ff 0%, $white 100%);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    font-family: $Montfont;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    text-align: center;
    height: 100vh;

    h2 {
        color: #333;
        margin-bottom: 20px;

        transition: transform 1s; // Définit une transition pour une rotation douce

        &:hover {
            transform: rotate(360deg); // Fait tourner l'élément de 360 degrés lorsque la souris est dessus
            scale: 1.2;
        }
    
    }

    .contact-link {
        color: #0077b5;
        margin-bottom: 20px;
        text-decoration: none;
        &:hover {
            color: #005582;
            transition: 0.3s;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        .input-field {
            margin-bottom: 10px;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }
        .submit-button {
            padding: 10px;
            background-color: #0077b5;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: #005582;
                transition: 0.3s;
            }
        }
    }
}

