
$white: #FBFBFB;
$grey: #C8CCCE;
$black: #2B2B2A;
$blue: #4464ad;
$red: #ff674d;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$title2 : 'Source Code Pro', monospace;

$title-font : 'M PLUS 1', sans-serif;

$Montfont : 'Montserrat', sans-serif;

html {
    scroll-behavior: smooth;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $white;
    margin: 0;
    padding: 0;

    
    
    .Main{

        

        .MainContent {
            width: 95%;
            float: right;
            position: relative;
            margin: 0;            
    
            .section {
                height: 100vh;
            }
        }

    }

    
}



    